<!DOCTYPE html>
<head>
<link href="/assets/normalize.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/intro.css">
</head>
<body>
  <header>
    <img src="http://i.imgur.com/xf1POlM.jpg" width="275">
    <h1>Daisy Mølving</h1>
  </header>
</body>
